In [ ]:
# Workout Program Python Data Analysis Project

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('Data/12wk_Program_RM_new.csv')

In [8]:
df.head(10)

,workout_id,workout,muscle_group,equipment,reps,num_of_sets,superset,program_week,date_of_workout,stage
0,1,Back Squat,Legs,Barbell,12,4,no,1,2023-03-21,preperatory
1,2,Wide Legged Pulses,Legs,Body Weight,20,4,yes,1,2023-03-21,preperatory
2,3,Deadlifts,Legs,Hex bar,12,4,no,1,2023-03-21,preperatory
3,4,Hamcurls,Legs,Machine,12,4,yes,1,2023-03-21,preperatory
4,5,Leg Press,Legs,machine,12,4,no,1,2023-03-21,preperatory
5,6,Squat Jumps,Legs,Body Weight,15,4,yes,1,2023-03-21,preperatory
6,7,Bench Press,Chest,Barbell,12,4,no,1,2023-03-22,preperatory
7,8,Push ups,Chest,Body Weight,15,4,yes,1,2023-03-22,preperatory
8,9,Incline Press,Chest,Dumbbells,12,4,no,1,2023-03-22,preperatory
9,10,Chest pull overs,Chest,EZ curlbar,15,4,yes,1,2023-03-22,preperatory

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   workout_id       453 non-null    int64
 1   workout          453 non-null    object
 2   muscle_group     453 non-null    object
 3   equipment        453 non-null    object
 4   reps             453 non-null    int64
 5   num_of_sets      453 non-null    int64
 6   superset         453 non-null    object
 7   program_week     453 non-null    int64
 8   date_of_workout  453 non-null    object
 9   stage            453 non-null    object
dtypes: int64(4), object(6)
memory usage: 35.5+ KB

In [5]:
# Check for the number of nulls in each column
df.isnull().sum()

workout_id         0
workout            0
muscle_group       0
equipment          0
reps               0
num_of_sets        0
superset           0
program_week       0
date_of_workout    0
stage              0
dtype: int64

In [9]:
# Clean the column names
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [11]:
# Check out the column names
df.columns

Index(['workout_id', 'workout', 'muscle_group', 'equipment', 'reps',
       'num_of_sets', 'superset', 'program_week', 'date_of_workout', 'stage'],
      dtype='object')

In [13]:
# Set the datatypes for each column automatically
df.convert_dtypes()

,workout_id,workout,muscle_group,equipment,reps,num_of_sets,superset,program_week,date_of_workout,stage
0,1,Back Squat,Legs,Barbell,12,4,no,1,2023-03-21,preperatory
1,2,Wide Legged Pulses,Legs,Body Weight,20,4,yes,1,2023-03-21,preperatory
2,3,Deadlifts,Legs,Hex bar,12,4,no,1,2023-03-21,preperatory
3,4,Hamcurls,Legs,Machine,12,4,yes,1,2023-03-21,preperatory
4,5,Leg Press,Legs,machine,12,4,no,1,2023-03-21,preperatory
...,...,...,...,...,...,...,...,...,...,...
448,449,Wide hand pushups,Chest,Body Weight,15,3,yes,12,2023-06-10,Shred
449,450,Lat pulldown,Back,Machine,10,3,no,12,2023-06-10,Shred
450,451,Shoulder press,Shoulders,Dumbbells,10,3,no,12,2023-06-10,Shred
451,452,Hammer curls,Biceps,Dumbbells,12,3,no,12,2023-06-10,Shred
452,453,Dips,Triceps,Body Weight,10,3,yes,12,2023-06-10,Shred

In [15]:
# Convert date of workout column to datetime
df['date_of_workout'] =  pd.to_datetime(df['date_of_workout'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   workout_id       453 non-null    int64
 1   workout          453 non-null    object
 2   muscle_group     453 non-null    object
 3   equipment        453 non-null    object
 4   reps             453 non-null    int64
 5   num_of_sets      453 non-null    int64
 6   superset         453 non-null    object
 7   program_week     453 non-null    int64
 8   date_of_workout  453 non-null    datetime64[ns]
 9   stage            453 non-null    object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 35.5+ KB

In [17]:
# Extract the month from the date of workout column
df['month'] = df['date_of_workout'].dt.month

In [18]:
# Check month column values
df['month'].value_counts()

month
5    177
4    147
6     69
3     60
Name: count, dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   workout_id       453 non-null    int64
 1   workout          453 non-null    object
 2   muscle_group     453 non-null    object
 3   equipment        453 non-null    object
 4   reps             453 non-null    int64
 5   num_of_sets      453 non-null    int64
 6   superset         453 non-null    object
 7   program_week     453 non-null    int64
 8   date_of_workout  453 non-null    datetime64[ns]
 9   stage            453 non-null    object
 10  month            453 non-null    int32
dtypes: datetime64[ns](1), int32(1), int64(4), object(5)
memory usage: 37.3+ KB

In [20]:
df['month'] = df['month'].astype(str)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   workout_id       453 non-null    int64
 1   workout          453 non-null    object
 2   muscle_group     453 non-null    object
 3   equipment        453 non-null    object
 4   reps             453 non-null    int64
 5   num_of_sets      453 non-null    int64
 6   superset         453 non-null    object
 7   program_week     453 non-null    int64
 8   date_of_workout  453 non-null    datetime64[ns]
 9   stage            453 non-null    object
 10  month            453 non-null    object
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 39.1+ KB

In [22]:
# Convert the months into string values
def tranform_month(val):
    if val == '3':
        return "mar"
    elif val == '4':
        return "apr"
    elif val == '5':
        return "may"
    elif val == '6':
        return "jun"
    else:
        return np.nan
df['month'] = df['month'].apply(tranform_month)

# Quick check of the update
df['month'].value_counts()

month
may    177
apr    147
jun     69
mar     60
Name: count, dtype: int64

In [24]:
# Remove all null values
df.dropna()

,workout_id,workout,muscle_group,equipment,reps,num_of_sets,superset,program_week,date_of_workout,stage,month
0,1,Back Squat,Legs,Barbell,12,4,no,1,2023-03-21,preperatory,mar
1,2,Wide Legged Pulses,Legs,Body Weight,20,4,yes,1,2023-03-21,preperatory,mar
2,3,Deadlifts,Legs,Hex bar,12,4,no,1,2023-03-21,preperatory,mar
3,4,Hamcurls,Legs,Machine,12,4,yes,1,2023-03-21,preperatory,mar
4,5,Leg Press,Legs,machine,12,4,no,1,2023-03-21,preperatory,mar
...,...,...,...,...,...,...,...,...,...,...,...
448,449,Wide hand pushups,Chest,Body Weight,15,3,yes,12,2023-06-10,Shred,jun
449,450,Lat pulldown,Back,Machine,10,3,no,12,2023-06-10,Shred,jun
450,451,Shoulder press,Shoulders,Dumbbells,10,3,no,12,2023-06-10,Shred,jun
451,452,Hammer curls,Biceps,Dumbbells,12,3,no,12,2023-06-10,Shred,jun
452,453,Dips,Triceps,Body Weight,10,3,yes,12,2023-06-10,Shred,jun

In [25]:
# Drop all duplicate values based on the workout_id column
df = df.drop_duplicates(subset=['workout_id'])

In [27]:
# Change all of the workout id's to match the index
def chng_to_index(val):
    return val - 1

df['workout_id'] = df['workout_id'].apply(chng_to_index)

df.head()

,workout_id,workout,muscle_group,equipment,reps,num_of_sets,superset,program_week,date_of_workout,stage,month
0,0,Back Squat,Legs,Barbell,12,4,no,1,2023-03-21,preperatory,mar
1,1,Wide Legged Pulses,Legs,Body Weight,20,4,yes,1,2023-03-21,preperatory,mar
2,2,Deadlifts,Legs,Hex bar,12,4,no,1,2023-03-21,preperatory,mar
3,3,Hamcurls,Legs,Machine,12,4,yes,1,2023-03-21,preperatory,mar
4,4,Leg Press,Legs,machine,12,4,no,1,2023-03-21,preperatory,mar

In [29]:
# Applying lowercase transformation to all values
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [30]:
# Check the values of all of muscle groups in the workout program
df['muscle_group'].value_counts()

muscle_group
legs         119
abs           74
back          68
chest         66
shoulders     58
triceps       35
biceps        33
Name: count, dtype: int64

In [34]:
# Check the range of num_of_sets column
min_value = df['num_of_sets'].min()
max_value = df['num_of_sets'].max()

print("Range for number of sets throughout the workout program {}-{}:".format(min_value,max_value))

Range for number of sets throughout the workout program 2-6

In [35]:
# Check to see which equipment is used throughout the program
df['equipment'].value_counts()

equipment
machine        138
dumbbells      114
body weight     82
barbell         60
ez curlbar      39
bench            8
lat bar          6
cubbies          3
hex bar          2
thick bar        1
Name: count, dtype: int64

In [38]:
# Make sure that there are only 12 weeks in the program
max_week = df['program_week'].max()

print("Max week:", max_week)

Max week: 12

In [40]:
# List of the stages for the program
df['stage'].value_counts()

stage
hypertrophy    142
shred          131
loading        112
preperatory     68
Name: count, dtype: int64

In [41]:
# Check the range for the number of reps throughout the program
min_value = df['reps'].min()
max_value = df['reps'].max()

print("Range for number of reps throughout the workout program {}-{}:".format(min_value,max_value))

Range for number of reps throughout the workout program 4-60:

In [ ]:
# Percentage of workout for each muscle group